:root {
  --black: #000;
  --primary: #b36a3a;
  --white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kalam", cursive;
  background-color: #ffe8cd;
  color: #9c5e35;
}

/* Navbar */

header {
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #cf9963;
  position: fixed;
  border-bottom: 2px solid var(--primary);
}

.headerLogo {
  color: var(--white);
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
}
/* section left */

.sectionOne {
  display: flex;
}

.div1 h1 {
  padding: 10px 30px;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

.div1 {
  background-color: #da9d6b;
  width: 20%;
  padding-bottom: 750px;
  padding-top: 90px;
}

.navItem {
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.navItem:hover {
  background-color: #ce9464;
  color: #fff;
}

.navTkj {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.navMm {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.navBi {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.navAi {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.navInfor {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.navBing {
  background-color: #b17b50;
  display: block !important;
  text-decoration: none !important;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

/* Section Right */

.div2 {
  background-color: #ffe8cd;
  width: 80%;
}

.tugasUtama {
  margin-top: 400px;
  text-align: center;
}

.tugasMm {
  text-align: center;
  margin-top: 400px;
}

.tugasBi {
  text-align: center;
  margin-top: 400px;
}

.tugasAi {
  text-align: center;
  margin-top: 400px;
}

.tugasTkj {
  margin-top: 90px;
  padding: 20px;
}

.splicingTkj h1 {
  text-align: center;
}

.splicingTkj p {
  text-align: center;
  padding: 20px 300px;
}

.toolsTkj h2 {
  text-align: justify;
  margin-left: 200px;
  padding: 20px;
}

.toolsTkj ol li {
  margin-left: 250px;
}

.stepTkj h2 {
  text-align: justify;
  margin-left: 200px;
  padding: 20px;
}

.stepTkj ol li {
  margin-left: 250px;
}
